.venv/
.env
__pycache__/

data/milvus/
data/parsed/
vector_store/
documents/
*.pyc

*.sqlite
*.db
*.faiss
*.pkl
*.bin
*.pt
*.safetensors

*.exe
*.out
*.md3
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.tsv

Data*/
BasicData*/